<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pwcong.tankattack">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">

        <activity android:name="me.pwcong.tankattack.activity.SplashActivity" android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>


        </activity>

        <activity android:name="me.pwcong.tankattack.activity.MenuActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="me.pwcong.tankattack.activity.MainActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="me.pwcong.tankattack.activity.AboutActivity" android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
